@use '../../style' as s;

.page {
	max-width: 400px;
	background: rgb(245, 245, 245);
	padding: s.space(6);
	border-radius: s.space(4);
}


.header{
	display: flex;
	justify-content: space-between;
	margin: s.space(6) 0;
}
.button {
	transition: opacity 0.7s;
	cursor: pointer;

	&:hover {
		opacity: 0.7;
	}
}

.title {
	font-size: 30px;
	font-weight: 600;
	margin-top: s.space(10);
	margin-bottom: s.space(6);
}

.content {
	display: flex;
	flex-direction: column;
	gap: s.space(4);
}

.block {
	display: flex;
	flex-direction: column;
	gap: s.space(4);
	background: s.color(light);
	padding: s.space(6);
	border-radius: s.space(4);

	&__2 {
		display: flex;
	flex-direction: column;
	gap: s.space(4);
	background: rgb(245, 245, 245);
	padding: s.space(6);
	border: s.color(light) solid;
	border-radius: s.space(4);
	}

	&__header {
	display: flex;
	justify-content: space-between;
	
	&--list {
		display: flex;
		gap: s.space(4);
	}
}
&__text {
	font-size: 20px;
}
}

.post__orange {
	background: #F7E9E1;
	color: #F46F17;
	padding: s.space(3);
	border-radius: s.space(6);
}

.post__purple {
	background: #F6E8EF;
	color: #EF5DA8;
	padding: s.space(3);
	border-radius: s.space(6);
}

.post__date {
	color: #888888;
	display: flex;
	align-items: center;
}

.post--viewed {
	background-color: transparent;
	border: #888888 1px solid;
}

.post__category {
	padding: 8px 12px;
	font-size: 12px;
	border-radius: 50px;

	&--1 {
		color: #F46F17;
		background-color: #F7E9E1;
	}

	&--2 {
		color: #EF5DA8;
		background-color: #F6E8EF;
	}
}

.margin {
	margin: s.space(20) 0;
}

.pageTg {
	max-width: 400px;
	background: rgb(245, 245, 245);
	padding: s.space(6);
	border-radius: s.space(4);
}

.nav {
	display: grid;
	grid-template-columns: 1fr 1fr;
	justify-items: center;
	margin-top: 50px ;

	&--1 {
		display: flex;
		justify-content: center;
		padding-bottom: 10px;
		width: 100%;
		border-bottom: #888888 5px solid;
		border-radius: 2px;
		font-size: 20px;
		color: #888888;
	}

	&--2 {
		display: flex;
		justify-content: center;
		padding-bottom: 10px;
		width: 100%;
		border-bottom: #121212 5px solid;
		border-radius: 2px;
		font-size: 20px;
		color: #121212;
	}
}

.img {
background-image: url("/svg/tg.svg");
height: 160px;
width: 343px;
margin: 20px 0;
}

.description {
	display: flex;
	flex-direction: column;
	gap: 10px;

	&__title {
		font-size: 24px;
	}

	&__text {
		font-size: 16px;
		line-height: 1.2;
	}
}

.button-tg {
	background-color: #F46F17;
	color: white;
	padding: 10px;
	border-radius: 10px;
	margin: 20px 0;
	width: 100%;
	transition: opacity 0.7s;
	cursor: pointer;

	&:hover {
		opacity: 0.7;
	}
}