{{!
Це код container файлу для index сторінки,
в якому міститься код, котрий буде віддаватися по шляху (PATH) - "/"
}}


<div class="page">
    {{!-- <div class="header">
        <button class="button">
            <img src="/svg/nav__back.svg">
        </button>
        <button class="button">
            <img src="/svg/photo.svg">
        </button>
    </div> --}}

    {{!-- <h1 class="title">Мій блог</h1> --}}

    {{!-- <main class="content">
        <div class="block button">
            <div class="block__header">
                <div class="block__header--list">
                    <div class="post__orange">Важливо</div>
                    <div class="post__purple">Нова</div>
                </div>
                <div class="post__date">25.01</div>
            </div>

            <div class="block__text">До біса планувальник, наймаємо дизайнера і готуємося до презентації, як Джобс
            </div>
        </div>

        <div class="block__2 button">
            <div class="block__header">
                <div class="block__header--list">
                    <div class="post__orange">Важливо</div>
                    <div class="post__purple">Нова</div>
                </div>
                <div class="post__date">25.01</div>
            </div>

            <div class="block__text">Ми хотіли щоб у цьому чаті було близько 150 людей щоб зробити якісний пак
                самопрезентацій.</div>
        </div>

        <div class="block button">
            <div class="block__header">
                <div class="block__header--list">
                    <div class="post__orange">Важливо</div>
                    <div class="post__purple">Нова</div>
                </div>
                <div class="post__date">25.01</div>
            </div>

            <div class="block__text">До біса планувальник, наймаємо дизайнера і готуємося до презентації, як Джобс
            </div>
        </div>
    </main> --}}
</div>

<div class="margin"></div>

<div class="pageTg">
    {{!-- <header class="header">
        <button class="button">
            <img src="/svg/nav__back.svg">
        </button>
        <button class="button">
            <img src="/svg/photo.svg">
        </button>
    </header>

    <h1 class="title">Ком'юніті</h1>

    <div class="nav">
        <div class="nav--1">База знань</div>
        <div class="nav--2">Інформація</div>
    </div>

    <main class="main">
        <div class="img"></div>
        <div class="description">
            <div class="description__title">Що таке база знань?</div>
            <div class="description__text">База знаний - база данных, содержащая правила вывода и информацию о
                человеческом опыте и знаниях в некоторой предметной области. В самообучающихся системах база знаний
                также содержит информацию, являющуюся результатом решения предыдущих задач</div>
        </div>
        <button class="button-tg">Перейти до ком'юніті у Телеграм</button>

    </main> --}}
</div>

{{!
Цей код містить лише те, що буде виводитись в

<body>
    Адже наш layout/default.hbs має вже структуру HTML
    }}